@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Mono, sans-serif;
}

body{
  text-align: center;
  margin: 20px 0;
  color: goldenrod;
  min-height: 100vh;
  background-color: rgb(199, 199, 199);
}

.app{
  padding: 20px;
}